<!--CSS-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="src/assets/Logotipo-CES-Madrid-3.jpeg" class="img-thumbnail" alt="">
  
    <h1>NOTICIAS CES JP II</h1> 
    
    </nav>


<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary">Deportes</button>
  <button type="button" class="btn btn-outline-primary">Politica</button>
  <button type="button" class="btn btn-outline-primary">Sociedad</button>
  <button type="button" class="btn btn-outline-primary">Todas</button>
</div>
 
<br>
<br>
<br>
<br>

<div class="card-group">
  <div class="card">
    <h2>Titulares</h2>
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Feb 14, 2022</small></p>
      <button type="button" class="btn btn-primary">Ir a la noticia</button>
      <button type="button" class="btn btn-primary">Ver contenido</button>
    </div>
  </div>
  <div class="card">
    <img src= "src/assets/news_photo.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Feb 14, 2022</small></p>
      <button type="button" class="btn btn-primary">Ir a la noticia</button>
      <button type="button" class="btn btn-primary">Ver contenido</button>
    </div>
  </div>
  <div class="card">
    <h2>Contenido</h2>
    <div class="alert alert-primary" role="alert">
      Por favor selecciona noticia para ver el detalle
    </div>
   
    </div>
  </div>



