h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.elemento_importante{
    background-color: bisque;
}

.letras_importantes{
    color: brown;
}


.elemento_alumno{
background-color: cadetblue;
font-family: sans-serif;
}

.elemento_profesor{
background-color: dimgrey;
font-family: sans-serif;
}