
<div class="banner">
    <div class="bg">
        
        <div class="titulo">
            <h1><b>The Rick And Morty API</b></h1>
            <p>La escuela no es un lugar para las personas inteligentes. Wubba Lubba Dub Dub. </p>
        </div>
    </div>            
</div>

<div class="container">
    <div class="row" style="width: auto; margin: auto auto; align-items: center;" >
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:319px;">
    <img src="https://p4.wallpaperbetter.com/wallpaper/365/629/82/rick-morty-rick-and-morty-cartoons-wallpaper-preview.jpg" class="card-img-top" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">Personajes</h5>
      <p class="card-text">Conoce a los alocados e inigualables personajes de esta serie de ficción.</p>
      <a [routerLink]="['/characters']" routerLinkActive="router-link-active"  class="btn btn-primary">API</a>
    </div>
  </div>

  <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:319px;">
    <img src="https://i.ytimg.com/vi/BSymgfwoAmI/maxresdefault.jpg" class="card-img-top" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">Lugares</h5>
      <p class="card-text">¿Planetas de mujeres guerreras? ¿Un planeta dominado por un ente omnipresente? todo estos diversos lugares losencuentras aquí.</p>
      <a [routerLink]="['/locations']" routerLinkActive="router-link-active"  class="btn btn-primary">API</a>
    </div>
  </div>

  <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:319px;">
    <img src="https://static.eldiario.es/clip/26ae8af7-5175-4695-8398-dc91f7960f37_twitter-aspect-ratio_default_0.jpg" class="card-img-top" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">Episodios</h5>
      <p class="card-text">Esta fantástica serie cuenta con 5 temporadas y más de 40 episodios de comedia, acción y sobre todo eruptos.</p>
      <a [routerLink]="['/episodes']" routerLinkActive="router-link-active"  class="btn btn-primary">API</a>
    </div>
  </div>
</div>
</div>

  </div>